name: CI

on:
  push:
    branches:
      - main
      - "v*.*.*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "26"
          rebar3-version: "3"
          gleam-version: "1.0.0-rc2"

      - uses: denoland/setup-deno@v1
        with:
          deno-version: "v1.x"

      - uses: actions/cache@v3
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}

      - uses: actions/setup-node@v3
        with:
          node-version: "20"

      - uses: actions/checkout@v4
        with:
          repository: WhatsApp/erlfmt
          path: _temp/erlfmt

      - id: cache-erlfmt
        uses: actions/cache@v3
        with:
          path: /usr/local/bin/erlfmt
          key: ${{ runner.os }}-erlfmt-${{ hashFiles('_temp/erlfmt/src/erlfmt.app.src') }}

      - if: ${{ !steps.cache-erlfmt.outputs.cache-hit }}
        run: |
          cd _temp/erlfmt
          rebar3 as release escriptize
          mv _build/release/bin/erlfmt /usr/local/bin/

      - id: cache-gleam
        uses: actions/cache@v3
        with:
          path: build/packages
          key: ${{ runner.os }}-gleam-${{ hashFiles('manifest.toml') }}

      - if: ${{ !steps.cache-gleam.outputs.cache-hit }}
        run: gleam deps download

      - run: echo "$PWD/priv" >>$GITHUB_PATH

      - run: rad test

      - run: rad format --check
